* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #e0f0d9;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #D0E8D0;
}

.header {
    background-color: #7EBF8E;
    padding: 20px;
    text-align: center;
}

.header img {
    width: 100px;
    border-radius: 50%;
}

.header2 {
    background-color: #D3B897;
    padding: 20px;
    text-align: center;
}

.header2 h2 {
    color: white;
    font-family: raleway;
}

nav {
    background-color: #D3B897;
    padding: 20px;
    text-align: center;
}

nav a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

nav a:hover {
    transform: translateX(10px);
    box-shadow: 0 5px 10px rgba(125, 76, 39, 0.2);
  }

.banner {
    background-image: url(/assets/images/background.webp);
    height: 100px;
    background-size: cover;
    background-position: center;
}

.mundod {
    text-align: center;
    margin: 10px;
}

.titulod {
    text-align: center;
    padding: 8px;
    color: #3b6744;
}

h2 {
    font-size: 32px;
    color: #54825e;
}

h3 {
    font-size: 28px;
    color: #54825e;
    margin-top: 10px;
}

.opcoesd {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
}

.açõesd {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.açõesd {
    font-size: 18px;
    color: #3b6744;
    margin-bottom: 10px;
}

.açõesd ul {
    list-style-type: disc;
    margin-left: 20px;
    color: #3b6744;
}

.luzinhad img{
    transform: translateX(1050%);
}

footer {
    background-color: #D3B897;
    text-align: center;
    padding: 35px;
    color: white;
    position: relative;
}

.direitosd {
    position: absolute;
    bottom: 2px;
    left: 10px;
}

.social-mediad {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.social-mediad img {
    width: 30px;
    margin: 0 2px;
    height: auto;
}
