body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #D0E8D0;
}

.contentd {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    align-items: flex-start;
    position: relative; 
}

.left-sided,
.right-sided {
    width: 48%;
    padding: 20px;
    box-sizing: border-box; 
}

.right-sided {
    padding-left: 20px; 
}

.lined {
    width: 2px;
    background-color: #000;
    height: 100%; 
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%); 
    z-index: 1; 
}

.itemd {
    background-color: #E5F3E5;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px; 
    display: flex;
    align-items: center;
}

.itemd img {
    width: 80px; 
    height: 80px;
    border-radius: 50%;
    margin-right: 15px;
}

.itemd h3 {
    font-size: 18px;
    color: #5B392D;
}

.itemd p {
    font-size: 14px;
    color: #333;
    max-width: 90%; 
}

.additional-itemd {
    background-color: #E5F3E5;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px; 
    display: flex;
    align-items: center;
}

.additional-itemd img {
    width: 80px; 
    height: 80px; 
    border-radius: 50%;
    margin-right: 15px;
}

.additional-itemd h2 {
    font-size: 20px;
    color: #5B392D;
}

.additional-itemd p {
    font-size: 14px;
    color: #333;
}

.header {
    background-color: #7EBF8E;
    padding: 15px;
    text-align: center;
}

.header img {
    width: 100px;
    border-radius: 50%;
}

.header2 {
    background-color: #D3B897;
    padding: 10px;
    text-align: center;
}

.header2 h2 {
    color: white;
    font-family: raleway;
}

nav {
    background-color: #D3B897;
    padding: 20px;
    text-align: center;
}

nav a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

nav a:hover {
    transform: translateX(10px);
    box-shadow: 0 5px 10px rgba(125, 76, 39, 0.2);
  }

.banner {
    background-image: url(/assets/images/background.webp);
    height: 100px;
    background-size: cover;
    background-position: center;
}

.bannerd {
    background-image: url('/imagens/banner.jpg.jpeg');
    height: 120px;
    background-size: cover;
    background-position: center;
}

footer {
    background-color: #D3B897;
    text-align: center;
    padding: 35px;
    color: white;
    position: relative;
}

.direitosd {
    position: absolute;
    bottom: 2px;
    left: 10px;
}

.social-media {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.social-media img {
    width: 30px;
    margin: 0 2px;
    height: auto;
}

