* {
    margin: 0;
    padding: 0;
}

body {

    background-color: rgba(149, 203, 149, 1);
    text-align: left;

}

header{
    background: linear-gradient(to right, #EEF7EE,#C2E1C2,#ABD6AB,#A0D1A0, #95CB95 );
    padding: 20px;
}
nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: right;
    background-color: rgba(197, 165, 128, 1);
}

nav li{
    margin: 0 10px;
}
nav a{
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
}
main{
    text-align:left;
}

.container{
    text-align: right;
    padding: 69px 200px 74px;
}

label{
    cursor: pointer;
    display: block;
    margin-bottom: 5px;    
}

.retangulo1{
    max-width: 250px;
    text-align: left;


}

form{
    text-align: -webkit-right;
}

h1{
    text-align: left;
}

h2{
    text-align: right;
    font-family: arial, sans-serif;
    font-size: 16px;


}

#parceiro{
   float: left;
   margin-right: 10px;
}


